.DS_Store
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
.python-version
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.vscode/
.idea/
*.log
node_modules/
*.pid

